
body{
  margin: 0%;
  height: 100px;
  background-color: rgb(255, 255, 255)
  
  
}



nav{

  height: 40px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

a{
  color: rgb(0, 0, 0);
  font-family: helvetica;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}


*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}


.container7{
  width: 90%;
  columns: 2;
  column-gap: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container7 .box{
  width: 90%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container7 .box video{
  width: 90%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container7 .box p{
  text-align: center;
  font-family: helvetica;
  font-size: 70px;
  color: rgb(207, 0, 0);
  margin-top: 60px;
}


@media screen and (max-width: 475px) {
  
  .container9 .box9{
    width: 100%;
    margin-bottom: 10 px;
    break-inside: avoid;
    text-align: center;
    margin: 0 auto;
  }
  
  .container9 .box9 nav{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    height: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .container9 .box9 a{
    color: rgb(4, 4, 4);
    font-family: helvetica;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  
  }


.container7{
  width: 100%;
  columns: 2;
  column-gap: 20px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container7 .box{
  width: 100%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container7 .box video{
  width: 100%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container7 .box p{
  text-align: center;
  font-family: helvetica;
  font-size: 30px;
  color: rgb(207, 0, 0);
  margin-top: 60px;
  width: 40%;
}




} 
