body{
  margin-top: 10px;
    background-color: black;
    
    
}
.container9 .box9{
  width: 100%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container9 .box9 nav{
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  height: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  
}


.container9 .box9 a{
  color: white;
  font-family: helvetica;
  text-decoration: none;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;

}

 

  
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

.container31{
  
  columns: 1;
  column-gap: 5px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.container31 .box4{
  width: 90%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container31 .box4 video{
  max-width: 85%;
  text-align: center;
  margin: 0 auto;
}

p{
font-family: helvetica;
  font-size: 25px;
  color: white;
  text-align: center;
}
  





  @media screen and (max-width: 475px) {
   
    .container9 .box9{
      width: 100%;
      margin-bottom: 10 px;
      break-inside: avoid;
      text-align: center;
      margin: 0 auto;
    }
    
    .container9 .box9 nav{
      max-width: 90%;
      text-align: center;
      margin: 0 auto;
      background-color: black;
      height: 20px;
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    
    .container9 .box9 a{
      color: white;
      font-family: helvetica;
      text-decoration: none;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      text-align: center;
      margin: 0 auto;
    
    }
    
    
    .container31{
  
      columns: 1;
      column-gap: 5px;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      text-align: center;
      margin: 0 auto;
    }
    
    .container31 .box4{
      width: 100%;
      margin-bottom: 10 px;
      break-inside: avoid;
      text-align: center;
      margin: 0 auto;
    }
    
    .container31 .box4 video{
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    
    p{
      font-family: helvetica;
        font-size: 15px;
        color: white;
        text-align: center;
      }
    
  } 


