body{
    margin: 0%;
    height: auto;
    background-color: rgb(200, 200, 200)
    
    
}


video{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}
.container9 .box9{
  width: 100%;
  margin-bottom: 10 px;
  break-inside: avoid;
  text-align: center;
  margin: 0 auto;
}

.container9 .box9 nav{
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  
  height: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  
}


.container9 .box9 a{
  color: rgb(0, 0, 0);
  font-family: helvetica;
  text-decoration: none;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;

}



  p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 25px;
    color: black;
    text-decoration: none;
  }
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    columns: 3;
    column-gap: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.container2{
  width: 100%;
  columns: 1;
  column-gap: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.text{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 25px;
    color: black;
    text-decoration: none;
  }
 a{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 25px;
    color: black;
    text-decoration: none;

  }

@media screen and (max-width: 475px) {
  .container9 .box9{
    width: 100%;
    margin-bottom: 10 px;
    break-inside: avoid;
    text-align: center;
    margin: 0 auto;
  }
  
  .container9 .box9 nav{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    height: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .container9 .box9 a{
    color: rgb(4, 4, 4);
    font-family: helvetica;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  
  }
  
  p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 15px;
    color: black;
    text-decoration: none;
  }

  .container{
    width: 80%;
    columns: 1;
    column-gap: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    height: 70%;
    
}

.text{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 15px;
    color: black;
    text-decoration: none;
  }
 a{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 15px;
    color: black;
    text-decoration: none;

  }
  video{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}
} 

    